@import './styles';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.swagger {
  padding: 50px 20px 100px;
}

.item__parameters-container {
  display: none;
  padding: 20px;
}