.rating {
  &__wrapper {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__stars-wrapper {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__numbers {
    margin: 8px 20px 0 0;
  }
}
